
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            background-color: #e60012;
            color: white;
            text-align: center;
            padding:20px;
            font-size:larger;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #333;
        }

        nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
        }

        nav a:hover {
            background-color: #575757;
        }

        .main {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
        }

        h1, h2 {
            color: #e60012;
        }

        .game-gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .game-item {
            background-color: white;
            border: 1px solid #ddd;
            padding: 15px;
            width: calc(33.33% - 20px);
            box-sizing: border-box;
            text-align: center;
        }

        .game-item img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .game-item h3 {
            margin-top: 10px;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: white;
        }